.calculator {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 0 100px #f2ff00;
  }
  
  .display {
    font-size: 3em;
    margin-bottom: 10px;
    padding: 10px;
    width: 65%;
    text-align: center;
    background-color: #f2ff00;
    color: #000000;
    border-radius: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .button {
    padding: 20px;
    font-size: 1.5em;
    background-color: #fff;
    border: 6px solid #f2ff00 ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #04deff;
  }
  
  .scientific-button {
    background-color: #f6f6f6;
    color: #f9f9f9;
  }
  
  .scientific-button:hover {
    background-color: #f3f3f3;
  }
  